<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.AlbumMapper">

    <select id="selectAllAlbum" resultMap="albumResultMap">
        SELECT t1.*,t2.id cid, t2.title ctitle, t2.size, t2.duration, t2.publish_date,t2.download_path,t2.album_id
        FROM album t1
        LEFT JOIN chapter t2
        ON t1.id = t2.album_id
    </select>

    <resultMap id="albumResultMap" type="Album">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="amount" property="amount"/>
        <result column="img_path" property="imgPath"/>
        <result column="score" property="score"/>
        <result column="announcer" property="announcer"/>
        <result column="release_date" property="releaseDate"/>
        <result column="author" property="author"/>
        <result column="introduction" property="introduction"/>
        <collection property="children" javaType="ArrayList" ofType="Chapter">
            <result column="cid" property="id"/>
            <result column="ctitle" property="title"/>
            <result column="size" property="size"/>
            <result column="duration" property="duration"/>
            <result column="publish_date" property="publishDate"/>
            <result column="download_path" property="downloadPath"/>
            <result column="album_id" property="albumId"/>
        </collection>
    </resultMap>
</mapper>